body {
    background-image: url("../images/nvroad0.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

h1 {
    color: #f9d71c;
    font-size: 2.3rem;
    margin-bottom: 1%;
}

ul {
    display: flex;
    justify-content: space-around;
    list-style: none;
    margin-bottom: auto;
    margin-right: 30px;
}

section {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}

li {
    margin-left: .5rem;
    margin-right: .5rem;
}

a {
    color: black;
}

.selfPhoto {
    display: block;
    width: 20%;
    height: 20%;
    border-radius: 50%;
}

.nav {
    font-size: 1.2rem;
}

.social {
    width: 2rem;
    height: 2rem;
}