section {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 75%;
    align-items: flex-start;
    margin-top: 2%;
    margin-left: auto;
    margin-right: auto;
}

header {
    display: flex;
    width: 75%;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: stretch;
    border-bottom: 1px solid black;
    margin-left: auto;
    margin-right: auto;
}

ul {
    display: flex;
    list-style: none;
    min-width: 0;
}

li {
    margin-left: .5rem;
    margin-right: .5rem;
    color: black;
}

a {
    color: black;
    font-size: 1.3rem;
    text-decoration: none;
}

h3 {
    border-radius: 10px;
    border: 2px solid black;
    color: black;
    padding: 1%;
    margin-left: auto;
    margin-right: auto;
}

footer {
    padding-top: 2%;
}

/* general classes */

.selected {
    font-weight: bold;
    color: orange;
}

.navigation {
    margin-left: 60%;
}

.footerContact {
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
}

.github {
    color: #ffa500;
}

.linkedin {
    color: #6bbadb;
}

.email {
    color: #ee82ee;
}

.break {
    color: black;
    font-size: 1.3rem;
}

.experiencePage {
    padding-top: 0%;
}

/* class specific to about.html */

.bio {
    padding-left: 1%;
    padding-right: 1%;
    border-left: solid 2px #008000;
    border-right: solid 2px #008000;
}

.cs {
    padding-left: 1%;
    padding-right: 1%;
    border-left: solid 2px #ffa500;
    border-right: solid 2px #ffa500;
}

.selfPhoto {
    display: block;
    width: 4%;
    height: 4%;
    border-radius: 50%;
}

.mountains {
    display: block;
    width: 10%;
    height: auto;
    margin-left: 45%;
    margin-bottom: -5%;
}

.slideShowContainer {
    display: flex;
    margin-top: 1%;
    width: 100%;
    box-shadow: 0 0 8px #ccc;
    border-radius: 10px;
}

.slideshowDiv {
    margin: 0 auto;
    padding-left: 1%;
    width: 60%;
}

.slide {
    width: 100%;
    height: auto;
}

.slideshowDescription {
    padding-right: 1%;
    width: 40%;
    text-align: center;
}

.descriptionTitle {
    margin-left: auto;
    margin-right: auto;
}

/* class specific to experience.html */

.professional {
    background-color: #ffa500;
}

.community {
    background-color: #6bbadb;
}

.hmu {
    text-align: center;
    padding-top: 2%;
}

.logo {
    width: 4%;
    height: auto;
    display: inline;
    margin-right: 1%;
}

.workplace {
    display: inline;
    font-size: 1.8rem;
}

.location {
    display: inline;
    position: absolute;
    right: 2%;
}

.expCard {
    /*border-left: solid 2px #ee82ee;
    border-right: solid 2px #ee82ee;
    */
    padding: 1%;
    box-shadow: 0 0 8px #ccc;
    border-radius: 10px;
    position: relative;
    width: 100%;
    border-left-size: 2%;
    padding-left: 2%;
    margin-bottom: 3%;
    transition: all .2s ease-in-out;
}

.expCard:hover {
    transform: scale(1.1);
    /*background-color: #fffff4;*/
}

.top {
    border-top: solid 2px #ee82ee;
}

.bottom {
    border-bottom: solid 2px #ee82ee;
}

.left {
    border-left: solid 2px #ee82ee;
}

.right {
    border-right: solid 2px #ee82ee;
}

/* class specific to projects.html */

#selected {
    opacity: 100%;
}

#unselected {
    opacity: 40%;
}

.all {
    background-color: #ff0000;
}

.software {
    background-color: #ffa500;
}

.hardware {
    background-color: #ffff00;
}

.design {
    background-color: #008000;
}

.front_end  {
    background-color: #6bbadb;
}

.algorithms {
    background-color: #b86fed;
}

.machine_learning {
    background-color: #ee82ee;
}

.tagsWrapper {
    width: 100%;
}

.tags > li {
    cursor: pointer;
    width: 20%;
    height: 10%;
    border: solid 1px black;
    padding: 1%;
    border-radius: 10px;
    text-align: center;
}

.projectCard {
    border: none;
    box-shadow: 0 0 8px #ccc;
    height: 10%;
    width: 100%;
    display: flex;
    margin-top: 3%;
    border-radius: 10px;
}

.projectImageContainer {
    width: 25%;
}

.projectImage {
    width: 100%;
    height: 100%;
}

.projectDescription {
    padding-left: 2%;
    padding-right: 2%;
    width: 75%;
    text-align: center;
}

.projectTitle {
    font-weight: bold;
}

.projectTags > li {
    width: 20%;
    height: 10%;
    border: solid 1px black;
    padding: 1%;
    border-radius: 10px;
}

.malariaLink {
    color: black;
    font-size: inherit;
    text-decoration: underline;
}