section {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 75%;
    align-items: flex-start;
    margin-top: 2%;
    margin-left: auto;
    margin-right: auto;
}

header {
    display: flex;
    width: 75%;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: stretch;
    border-bottom: 1px solid maroon;
    margin-left: auto;
    margin-right: auto;
}

ul {
    display: flex;
    list-style: none;
    min-width: 0;
}

li {
    margin-left: .5rem;
    margin-right: .5rem;
    color: black;
}

a {
    color: maroon;
    font-size: 1.3rem;
    text-decoration: none;
}

h3 {
    border: 2px dashed maroon;
    color: maroon;
    padding: 1%;
    margin-left: auto;
    margin-right: auto;
}

footer {
    padding-top: 2%;
}

/* general classes */

.selected {
    font-weight: bold;
}

.navigation {
    margin-left: 60%;
}

.footerContact {
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
}

.experiencePage {
    padding-top: 0%;
}

/* class specific to about.html */

.selfPhoto {
    display: block;
    width: 4%;
    height: 4%;
    border-radius: 50%;
}

.mountains {
    display: block;
    width: 10%;
    height: auto;
    margin-left: 45%;
    margin-bottom: -5%;
}

.slideShowContainer {
    display: flex;
    margin-top: 3%;
}

.slideshowDiv {
    padding-left: 1%;
    border-left: dashed 2px maroon;
    width: 60%;
}

.slide {
    width: 100%;
    height: auto;
}

.slideshowDescription {
    padding-right: 1%;
    width: 40%;
    text-align: center;
    border-right: dashed 2px maroon;
}

.descriptionTitle {
    margin-left: auto;
    margin-right: auto;
}

/* class specific to experience.html */

.hmu {
    text-align: center;
    padding-top: 2%;
}

.logo {
    width: 4%;
    height: auto;
    display: inline;
    margin-right: 1%;
}

.workplace {
    display: inline;
    font-size: 1.8rem;
}

.location {
    display: inline;
    position: absolute;
    right: 0;
}

.expCard {
    position: relative;
    width: 80%;
    border-left-size: 2%;
    padding-left: 2%;
    margin-bottom: 3%;
    transition: all .2s ease-in-out;
}

.expCard:hover {
    transform: scale(1.1);
    /*background-color: #fffff4;*/
}

.even {
    border-left-style: solid;
    border-left-color: maroon;
}

.odd {
    border-left-style: dashed;
    border-left-color: maroon;
}

/* class specific to projects.html */

#selected {
    opacity: 100%;
}

#unselected {
    opacity: 40%;
}

.all {
    background-color: #ff0000;
}

.software {
    background-color: #ffa500;
}

.hardware {
    background-color: #ffff00;
}

.design {
    background-color: #008000;
}

.front_end  {
    background-color: #6bbadb;
}

.algorithms {
    background-color: #b86fed;
}

.machine_learning {
    background-color: #ee82ee;
}

.bsoftware {
    border:solid 5px #ffa500;
}

.bhardware {
    border:solid 5px #ffff00;
}

.bdesign {
    border:solid 5px #008000;
}

.bfront_end  {
    border:solid 5px #6bbadb;
}

.balgorithms {
    border:solid 5px #b86fed;
}

.bmachine_learning {
    border:solid 5px #ee82ee;
}

.tagsWrapper {
    width: 100%;
}

.tags > li {
    cursor: pointer;
    width: 20%;
    height: 10%;
    border: solid 1px black;
    padding: 1%;
    border-radius: 10px;
    text-align: center;
}

.projectCard {
    height: 10%;
    width: 100%;
    display: flex;
    margin-top: 3%;
    border-radius: 10px;
}

.projectImageContainer {
    width: 25%;
}

.projectImage {
    width: 100%;
    height: 100%;
}

.projectDescription {
    width: 75%;
    text-align: center;
}

.projectTags > li {
    width: 20%;
    height: 10%;
    border: solid 1px black;
    padding: 1%;
    border-radius: 10px;
}