section {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    width: 75%;
    align-items: flex-start;
    margin-top: 2%;
    margin-left: auto;
    margin-right: auto;
}

header {
    display: flex;
    width: 75%;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: stretch;
    border-bottom: 1px solid maroon;
    margin-left: auto;
    margin-right: auto;
}

ul {
    display: flex;
    list-style: none;
    min-width: 0;
}

li {
    margin-left: .5rem;
    margin-right: .5rem;
    color: black;
}

a {
    color: maroon;
    font-size: 1.3rem;
}

h3 {
    border: 2px dashed maroon;
    color: maroon;
    padding: 1%;
    margin-left: auto;
    margin-right: auto;
}

/* genreal classes */

.selected {
    font-weight: bold;
}

.navigation {
    margin-left: 60%;
}

/* class specific to about.html */

.general {
    border-left-color: gold;
    border-left-width: 2%;
    border-left-style: solid;
    margin-bottom: 1%;
    padding-left: 1%;
}

.cs {
    border-left-color: green;
    border-left-width: 2%;
    border-left-style: solid;
    margin-bottom: 1%;
    padding-left: 1%;
}

.self {
    border-left-color: red;
    border-left-width: 2%;
    border-left-style: solid;
    margin-bottom: 1%;
    padding-left: 1%;
}

.selfPhoto {
    display: block;
    width: 4%;
    height: 4%;
    border-radius: 50%;
}

.mountains {
    display: block;
    width: 10%;
    height: auto;
    margin-left: 45%;
    margin-bottom: -5%;
}

.slideshowDiv {
    margin-left: auto;
    margin-right: auto;
}

.slide {
    width: 60%;
    height: auto;
}

/* class specific to experience.html */

.logo {
    width: 4%;
    height: auto;
    display: inline;
    margin-right: 1%;
}

.workplace {
    display: inline;
    font-size: 2rem;
}

.location {
    display: inline;
    margin-left: 60%;
}

.expCard {
    width: 80%;
    border-left-size: 2%;
    padding-left: 2%;
    margin-bottom: 3%;
}

.even {
    border-left-style: solid;
    border-left-color: maroon;
}

.odd {
    border-left-style: dashed;
    border-left-color: maroon;
}

/* class specific to projects.html */

.gridSection {

}


